// импорты
@import "./header/header";
@import "./footer/footer";

@import "./repositories/results";
@import "./repositories/selected";

// второстепенные стили
* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

h1 {
  font-size: 46px;
  font-weight: 400;
}

.welcome-text {
  text-align: center;
  color: #4f4f4f;
  height: 87.5vh;
  display: grid;
  place-items: center;
}

.main {
  height: 87.5vh !important;
  .loader {
    display: grid;
    place-items: center;
    height: 100%;
  }
}
